@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@font-face {
	font-family: 'digital-clock-font';
	src: url(../fonts/digital.ttf);
}
body {
	box-sizing: border-box;
	background-color: #EFEFEF;
	max-width: 1900px;
	margin: auto;
	padding: 0;
}
h1, h2, h3 {
	text-transform: uppercase;
}
h2 {
	text-align: center;
	margin: 2rem 0;
	font-size: 2.5rem;
	color: #FFF;
	padding: .5rem 0;
}
h3 {
	color: #FFF;
	margin: 1rem 0;
}
ol {
	text-align: left;
	list-style-type: decimal;
}
p {
	text-align: justify;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
}
#menu .navbar-brand img {
	width: 300px;
}
#menu .menu {
	display: none;
}
#menu .menu .line {
	width: 35px;
	height: 3px;
	margin: 8px;
	display: block;
	background-color: #3d58a1;
	transition: all .3s ease-in-out;
}
#menu .is-active .line:nth-child(1) {
	transform: translateY(11px) rotate(45deg);
}
#menu .is-active .line:nth-child(2) {
	opacity: 0;
	transform: translateX(40px) !important;
}
#menu .menu:hover .line:nth-child(2) {
	transform: translateX(-5px);
}
#menu .is-active .line:nth-child(3) {
	transform: translateY(-11px) rotate(-45deg);
}
#index {
	margin: 4.6875rem auto 0;
}
#menu .navbar-nav .js-scroll-trigger {
	font-size: .8rem;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
#index .nav .js-scroll-trigger {
	font-size: 14px;
	font-weight: 400;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	color: transparent;
	text-decoration: none;
	align-items: center;
	margin: .8rem auto;
	margin-left: 50px;
}
#index .nav .js-scroll-trigger:hover {
	color: #c0bfba;
	transition: .5s;
}
#index .nav .js-scroll-trigger::before {
	content: "" attr(numero)"";
	font-size: 1rem;
	font-family: 'digital-clock-font';
	font-weight: 900;
	letter-spacing: 2px;
	position: absolute;
	display: flex;
	left: 5px;
	justify-content: center;
	align-items: center;
	width: 35px;
	padding: 5px;
	height: 35px;
	background-image: url(../img/index/btn-panel.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #000;
	border: solid #B8B8B8 2px;
	border-radius: 50%;
}
#index .js-scroll-trigger:hover:nth-child(2)::before, #index .js-scroll-trigger:hover:nth-child(3)::before, #index .js-scroll-trigger:hover:nth-child(4)::before, #index .js-scroll-trigger:hover:nth-child(5)::before, #index .js-scroll-trigger:hover:nth-child(6)::before, #index .js-scroll-trigger:hover:nth-child(7)::before, #index .js-scroll-trigger:hover:nth-child(8)::before {
	transition: .6s ease-in-out;
	color: #FF0000 !important;
	border: solid #FF0000 2px;
}
#index input {
	border: none;
	font-size: 1.2rem;
	letter-spacing: 1px;
	text-align: center;
	max-width: 100px;
	margin: 0 auto;
	background-color: #000;
	color: #12E00A;
	font-family: 'digital-clock-font';
}
#index .section-index {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
#index .section-index:nth-child(3) {
	background-image: url(../img/index/about.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#index .section-index:nth-child(5) {
	background-image: url(../img/index/services.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#index .section-index:nth-child(7) {
	background-image: url(../img/index/projects.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#index .section-index:nth-child(8) {
	background-image: url(../img/index/contact.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#index .btn-elesud {
	position: fixed;
	z-index: 1000;
	margin-left: 5px;
	margin-top: 10%;
}
#home .video-bg {
	position: absolute;
	margin: auto;
	max-width: 1900px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
#home .video-bg video {
	min-height: 100%;
	min-width: 100%;
}
#home .home-content {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(38,38,38,0.78);
}
#about .container p {
	color: #FFF;
}
#about .mvv p {
	text-align: center;
}
#products h2 {
	margin: 2rem 0;
	color: #000;
}
#products .products-container {
	margin: 0 auto;
	justify-content: center;
	padding: 2rem 0 3rem 5rem;
}
#products .news-card {
	border: 0px solid aqua;
	margin: 0.5rem;
	position: relative;
	height: 12rem;
	overflow: hidden;
	border-radius: .2rem;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {
#products .news-card {
	height: 20rem
}
}
#products .news-card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.7)));
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
	z-index: 0;
}
#products .products-img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-transition: -webkit-transform 3s ease;
	transition: -webkit-transform 3s ease;
	transition: transform 3s ease;
	transition: transform 3s ease, -webkit-transform 3s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
	z-index: -1;
}
#products .card-text {
	position: absolute;
	bottom: 0rem;
	padding-top: .5rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
	width: 100%;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-transition: background-color 1.5s ease;
	transition: background-color 1.5s ease;
}
#products .card-title {
	color: #FFF !important;
	margin: 0;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: right;
	-webkit-transition: color 1s ease;
	transition: color 1s ease;
	margin-bottom: 1rem 0;
}
#products .card-more {
	max-height: 0;
	opacity: 0;
	-webkit-transition: max-height 1.5s ease, opacity 1s ease;
	transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
#products .news-card:hover .card-more {
	max-height: 20rem;
	opacity: 1;
}
#products .news-card:hover .card-text {
	background-color: rgba(0, 0, 0, 0.6);
}
#products .news-card:hover .card-title {
	color: #FFF;
}
#products .news-card:hover .products-img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	z-index: -1;
}
}
#products .more {
	background: black;
	color: #bbb;
	display: block;
	padding: 0.4rem 0.6rem;
	border-radius: 0.3rem;
	border: 1px solid #444;
	font-size: 0.8rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	text-decoration: none;
	width: 70px;
	margin-left: auto;
	position: relative;
	z-index: 5;
}

@media (min-width: 1050px) {
#index .nav .js-scroll-trigger {
	margin-left: 50px;
}
}

@media (max-width: 380px) {
#menu .navbar-brand {
	margin-right: 0;
}
#menu .navbar-brand img {
	width: 225px !important;
}
}

@media (max-width: 540px) {
h2 {
	margin-bottom: 1rem;
	font-size: 2rem;
}
#menu {
	padding: .5rem;
}
#menu .navbar-brand img {
	width: 250px;
}
}

@media (max-width: 991px) {
#menu .menu {
	display: block;
	cursor: pointer;
}
#index {
	text-align: center;
}
#index .btn-elesud {
	display: none;
}
#index .index-content {
	margin: 0;
}
#products .products-container {
	padding: 0;
}
}
